<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>2345</string>
	<key>FLGithubURL</key>
	<string>https://github.com/Pyroh/Fluor</string>
	<key>FLPyrolyseURL</key>
	<string>https://pyrolyse.it</string>
	<key>FLRNListURL</key>
	<string>https://resources.pyrolyse.it/releasenotes/Fluor/versions.json</string>
	<key>FLSupportEmail</key>
	<string>mailto:fluor.support@pyrolyse.it?subject=Fluor%20Issue</string>
	<key>FLSupportURL</key>
	<string>https://pyrolyse.it</string>
	<key>FLTwitterURL</key>
	<string>https://twitter.com/__pyroh</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 - 2020 Pierre TACCHI. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict/>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://updates.pyrolyse.co/Fluor/2.0/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>2SzTTYB9kulc+kJ8i0YdyKel2RoNIRKrJ8xp/wXWVyk=</string>
</dict>
</plist>
